/node_modules
/public/hot
/public/dist
/public/storage
/public/css
/public/vendor
/public/js
public/images/vendor
/storage/*.key
/vendor
/db
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
bin/supervisord.log
bin/supervisord.pid

